<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle"  xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>Wassup Changelog</title>
    <link>http://sparkle-project.org/files/sparkletestcast.xml</link>
    <description>Most recent changes with links to updates.</description>
    <language>en</language>
      <item>
        <title>Version REPLACE_SPARKLE_VERSION</title>
        <link>https://sparkle-project.org</link>
        <sparkle:version>REPLACE_SPARKLE_VERSION</sparkle:version>
        <description>
          <![CDATA[
           REPLACE_SPARKLE_DESCRIPTION
          ]]>
        </description>
        <pubDate>Tue, 29 Mar 2022 15:20:11 +0000</pubDate>
        <enclosure url="https://github.com/joshdholtz/wassup-swift-releases/releases/download/REPLACE_SPARKLE_VERSION/Wassup.app.zip" REPLACE_SPARKLE_SIGN_UPDATE />
      </item>
  </channel>
</rss>
